<div class="cadastro-de-livros">
  <mat-card class="main-card">
    <h1 class="cadastro-title">Cadastro de Livros</h1>
    <mat-form-field class="full-width" appearance="outline" >
      <mat-label>Seu nome</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nome do livro</mat-label>
      <input matInput placeholder="">
    </mat-form-field>
    <div class="center-button"></div>
    <button mat-raised-button class=" cadastrar-button">Cadastrar Livro</button>
  </mat-card>
</div>



