body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login {
  height: 100vh;
  background: linear-gradient(120deg, #87CEFA );
  display: flex;
  justify-content: center;
  align-items: center;
}
