
<div class="login">
      <mat-card class="main-card">
      <h1 class="login-title">Login</h1>
      <mat-form-field class="full-width" appearance="outline" >
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput>
        </mat-form-field>
        <span class="login__input-border"></span>
        <div class="center-button">
          <button mat-raised-button class="main-button login-button" >Entrar</button>
        </div>
        <a mat-button href="https://www.google.com/" target="_blank">Esqueceu a senha?</a>
      </mat-card>
    </div>


